@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #cbd5e1;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, auto);
  overflow: hidden;
}
.container .sidebard {
  z-index: 100;
  background: #3b82f6;
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  color: #fff;
}
.container .sidebard .button-links {
  position: fixed;
}
.container .sidebard .button-links ul {
  list-style: none;
  padding-inline-start: 25px;
  margin-block-start: 0px;
  font-weight: 500;
}
.container .sidebard .button-links ul .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.container .sidebard .button-links ul .title h3 {
  margin-left: 10px;
}
.container .sidebard .button-links ul .title span {
  font-size: 2rem;
}
.container .sidebard .button-links ul li {
  width: 200%;
  margin: 20px 0px;
  font-size: 1rem;
}
.container .sidebard .button-links ul li span {
  margin-right: 12px;
  font-size: 1.2rem;
}
.container .sidebard .button-links .btn-config {
  margin-top: 50px;
}
.container .navbar {
  grid-column: span 4;
  grid-row: span 1;
  background: #fff;
  box-shadow: 1px 1px 6px #94a3b8;
  color: #09090b;
}
.container .navbar .navbar-superior {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5px 35px;
  justify-content: space-between;
  gap: 30px;
}
.container .navbar .navbar-superior .search {
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.container .navbar .navbar-superior .search span {
  height: 100%;
  font-size: 1.2rem;
  padding-right: 15px;
}
.container .navbar .navbar-superior .search input {
  width: 85%;
  height: 25px;
  background: #cbd5e1;
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 10px;
}
.container .navbar .navbar-superior .noti {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
}
.container .navbar .navbar-superior .noti span {
  font-size: 1.2rem;
}
.container .navbar .navbar-superior .noti .user {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.container .navbar .navbar-superior .noti .user img {
  width: 40px;
}
.container .navbar .navbar-superior .noti h4 {
  flex-shrink: 0;
  font-size: 1rem;
}
.container .navbar .navbar-lower {
  display: flex;
  justify-content: space-between;
  padding: 0px 35px;
}
.container .navbar .navbar-lower .userblock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .navbar .navbar-lower .userblock .user {
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.container .navbar .navbar-lower .userblock .user img {
  width: 100%;
}
.container .navbar .navbar-lower .userblock .username {
  margin-left: 15px;
}
.container .navbar .navbar-lower .userblock .username h3 {
  font-size: 1.1rem;
}
.container .navbar .navbar-lower .userblock .username h3 span {
  font-size: 0.88rem;
  font-weight: 500;
}
.container .navbar .navbar-lower .btn {
  display: flex;
}
.container .navbar .navbar-lower .btn .btn-content {
  margin: 0px 10px;
}
.container .navbar .navbar-lower .btn .btn-content h5 {
  background: #0284c7;
  padding: 10px 25px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
}
.container .content {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-column: span 4;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  color: #09090b;
  margin-bottom: 3rem;
}
.container .content h2 {
  font-size: 1.3rem;
}
.container .content .block-project {
  padding: 0px 15px;
  grid-column: span 2;
}
.container .content .block-project .projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
}
.container .content .block-project .projects .card-project {
  height: 150px;
  background: #fff;
  border-radius: 15px;
  padding: 20px 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 6px #94a3b8;
}
.container .content .block-project .projects .card-project .bar {
  width: 8px;
  height: 100%;
  top: 0;
  left: 0;
  background: #eab308;
  position: absolute;
}
.container .content .block-project .projects .card-project p {
  font-size: 0.8rem;
  padding: 0px 12px;
  color: #71717a;
}
.container .content .block-project .projects .card-project p span {
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: #09090b;
}
.container .content .block-project .projects .card-project .icon {
  position: absolute;
  right: 0;
  bottom: 10%;
  font-size: 1.3rem;
}
.container .content .block-project .projects .card-project .icon span {
  margin-right: 20px;
}
.container .content .block-trending .announcements-card {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  box-shadow: 1px 1px 6px #94a3b8;
  border-radius: 15px;
  padding: 22px 0px 12px 0px;
  margin-bottom: 40px;
}
.container .content .block-trending .announcements-card .card-ann {
  width: 80%;
  padding: 5px 10px;
  border-top: 2px solid #cbd5e1;
  display: inline;
}
.container .content .block-trending .announcements-card .card-ann h3 {
  margin-block-end: 0;
  font-size: 1.05rem;
  font-weight: 500;
}
.container .content .block-trending .announcements-card .card-ann p {
  margin-block-start: 0;
  font-size: 0.9rem;
  color: #71717a;
  font-weight: 400;
}
.container .content .block-trending .announcements-card .card-ann:nth-child(1) {
  border: none;
}
.container .content .block-trending .tending-card {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #fff;
  box-shadow: 1px 1px 6px #94a3b8;
  border-radius: 15px;
  padding: 22px 0px 12px 0px;
}
.container .content .block-trending .tending-card .user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 25px 5px 25px;
}
.container .content .block-trending .tending-card .user-card .user-img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.container .content .block-trending .tending-card .user-card .user-img img {
  width: 100%;
}
.container .content .block-trending .tending-card .user-card .username-card {
  padding-left: 15px;
  font-weight: 500;
}
.container .content .block-trending .tending-card .user-card .username-card h4 {
  margin-block-end: 5px;
  font-size: 1.03rem;
}
.container .content .block-trending .tending-card .user-card .username-card p {
  font-weight: 300;
  font-size: 1.06rem;
  color: #71717a;
  margin-block-start: 0;
}

/*# sourceMappingURL=style.css.map */
