// font import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// color variable
$background:#cbd5e1;
$backgroundSidevar:#3b82f6;
$sidevarBtnHover:#1e40af;
$whiteColor:#fff;
$blackColor:#09090b;
$grayColor:#71717a;
$buttonNavbarbck:#0284c7;
$btnNavbarbckHover:#0369a1;
$cardBorder:#eab308;
$shadowBorder:#94a3b8;